/*
informacoes-contatos = Email e Instagram
informacao-resposavel = texto falando do lider Vitor 
bloco-img1 = Imagem do email com o email 
bloco-img2 = Imagem do instagram com o instagram 
email = tamanho da fonte
instagram = tamanho da fonte 
img = serve para as duas imagens ficarem do tamanho iguais
p:hover = para quando passar o mouse sobre o paragrafo (informacao-resposavel) aumetar o texto e mudar de cor)
imgLogo = tamanho da img logo e foi colococado para o lado com o padding
*/

.footer{
    background-color: #F1E8BD;
    padding: 1em;
    display: flex;
    justify-content: space-around; /* Separar  os blocos */
    font-family: 'Times New Roman', Times, serif;  /* Alterar a fonte do footer inteiro */   
    height: 14vh;
}

.informacoes-contatos{ 
    width: 18vw;
}

.informacao-resposavel{
    display: flex;
    width: 45vw;
    align-items: center;
    flex-direction: row;
    padding-left: 18em; 
    font-size: 1.1rem;
}

.bloco-img1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

.bloco-img2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 6.2em  
}

.email{
    font-size: 1.1em;
}

.instagram{
    font-size: 1.1em;
}

img{
    width: 1.8vw;
    height: 2.5vh; 
}

p:hover{
    color: rgb(31, 72, 4);
    transition: all 450ms ease-in; /*Tempo para ocorrer a aumentada de texto*/
    transform: scale(1.2); /*Tamanho que vai aumentar*/
}

.imglogo:hover{
     background-color: #CEE741;
      border-radius: 50%;
  }

.imglogo{
    width: 6vw;
    height: 10vh; 
    padding-left: 8em;
    padding: 5px 0px 0px 5px;
}