.blocoPerfil {
    background-color: #CEE741;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1vw;
}

.blocoTextos {
display: flex;
flex-direction: column;
background-color: #F2E5B8;
width: 20vw;
height: auto;
margin: 0;
padding: 0;
text-align: center;
justify-content: center;
align-items: center;
border-top-right-radius: 1vw;
border-bottom-right-radius: 1vw;
gap: 1vw;
}


.fotoPerfil {
    padding: 1vw;
    width: 7vw;
    height: auto;
    background-color: #B66E3F;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.nome {
    font-size: 1.5em;
    margin: 0;
}

.hobbies {
    font-size: 1 em;
    margin: 0;
    width: 15vw;
}
